<mat-toolbar color="primary">
  <span routerLink="/">Job Search</span>
  <div class="container">
    <button
      mat-button
      routerLink="/signin"
      class="float-right"
      [hidden]="isAuth"
    >
      Se connecter
    </button>
    <div class="float-right">
      <button mat-button [hidden]="!isAuth" routerLink="/account/informations">
        Mon compte
      </button>
      <button mat-button [hidden]="!isAuth" (click)="disconnect()">
        Se deconnecter
      </button>
    </div>
  </div>
</mat-toolbar>
<div id="main" class="container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer page-footer font-small blue pt-4" >
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Job Board</h5>
        <p>
          Site de recherche d'emploi
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:<br/>
    <a>Sylvain Bourbousse - Pierre Antoine Legger</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
